.portfolio-list {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    flex-grow: 1;
  }

  &__item {
    cursor: pointer;

    &:focus,
    &:hover {
      transition: $main-transition;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    @media screen and (max-width: 768px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and(min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }

    @media screen and(min-width: 1200px) {
      width: calc((100% - 6 * 15px) / 3);
      margin: 15px;
    }
  }

  &__link {
    @media screen and(min-width: 768px) {
      display: flex;
      flex-direction: column;
      height: 100%;
      flex-grow: 1;
    }

    &:hover .portfolio-overlay,
    &:focus .portfolio-overlay {
      transform: translateY(0);
    }

    &:hover .portfolio-overlay__actions,
    &:focus .portfolio-overlay__actions {
      opacity: 1;
    }

    &:hover .portfolio-overlay,
    &:focus .portfolio-overlay {
      opacity: 1;
    }
  }

  .portfolio-list__thumb {
    position: relative;
    overflow: hidden;
  }
}

.portfolio-overlay {
  display: block;
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform $main-transition, opacity $main-transition;

  &__actions {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $primary-white-color;
    opacity: 0;
    transition: opacity $main-transition 250ms;

    @media screen and(min-width: 480px) {
      top: 65%;
      left: 50%;
    }

    @media screen and(min-width: 768px) {
      top: 45%;
      left: 50%;
    }

    @media screen and(min-width: 1200px) {
      top: 50%;
      left: 50%;
    }
  }
}
