.menu-button {
  right: 15px;
  position: fixed;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 200;
  width: 40px;
  height: 40px;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-menu {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button.is-open .icon-cross {
  display: none;
}

.main-nav {
  height: 80px;
  @media screen and(max-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and(min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and(min-width: 1200px) {
    justify-content: flex-start;
    align-items: center;
    padding: 24px 15px;
  }
}
.menu-container {
  background-color: $primary-white-color;
  transition: tranform $main-transition;

  @media screen and (max-width: 767px) {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 48px 40px;
    font-size: 40px;

    z-index: 100;

    &.is-open {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    position: relative;
    display: flex;
    height: 80px;
  }

  @media screen and(min-width: 1200px) {
    width: 100%;
    margin-left: 93px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: static;
  }
}
