.сement-background {
  background-color: $button-background-color;
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  &__social-icons {
    @media screen and (min-width: 1200px) {
      width: 206px;
      margin-left: 32px;
    }
  }

  &__item {
    @media screen and (min-width: 480px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    border-radius: 0px 0px 4px 4px;
    background: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.section-card {
  padding: 30px 0;

  &__section-people {
    color: $title-text-color;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
  &__section-profession {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
}
.social-list {
  &__item:nth-child(-n + 4) {
    margin-left: 10px;
  }
  &__item:first-child {
    margin-left: 0;
  }
  &__link {
    display: flex;
    @extend %link;
    fill: $border-link;
    transition: background-color $main-transition, fill $main-transition;

    &:hover {
      fill: $primary-white-color;
      background-color: $accent-color;
    }
  }
}
